{% extends "base.html" %}
{% load i18n %}

{% block title %}

Add a new project in townname | 

{% endblock %}


{% block header %}

	<h3>Add a new project in townname</h3>

{% endblock %}


{% block editform %}


<form action="/project/add/" method="post">

{% csrf_token %}

{{ form.as_p }}

<input type="submit" value="Submit" />
</form>

{% endblock %}


{% block inlinejs %}

$(document).ready(function() {
	
	// CC.project.title = "{{ project.name }}";
	// CC.project.id = "{{ project.id }}"
	
	// to better adjust zoomlevel and map-extent
	CC.project.locationLonLat = new OpenLayers.LonLat({{ map_center.x }}, {{ map_center.y }});
	$("#id_location").val("POINT (" + CC.project.locationLonLat.lon + " " +  CC.project.locationLonLat.lat + ")");
	
	init("project_add");
	
});

{% endblock %}