{% extends "base.html" %}
{% load i18n %}

{% block header %}

{% if project_list %}
	<h2>{{ project_list.0.taz.town_name }}</h2>
{% endif %}

{% endblock %}

{% block inlinejs %}

$(document).ready(function() {
	
	CC.featurecollection.projects = {
		"type": "FeatureCollection", 
	  		"features": [
	    		{"geometry": {
	        		"type": "GeometryCollection", 
	        		"geometries": [
						{% for project in project_list %}
						{{ project.location.geojson|safe }},
						{% endfor %}
	        		]}
				}
	  		]
	};
	
	init('project_list');
	
});

{% endblock %}