{% extends "base.html" %}
{% load i18n %}

{% block title %}

Projects in {{ town }} | 

{% endblock %}

{% block header %}

	<h3>Projects in {{ town }}</h3>

{% endblock %}

{% block map %}

<div class="span-24 last">
	<div id="map"></div>			
</div>
			
{% endblock %}

{% block projectlist %}
	
	{% if project_list %}

	<table id="summarytable">
		<tr>
			<th class="taz">TAZ</th>
			<th>Name</th>
			<th class="status">Status</th>
			<th class="projectproperty">Confirmed</th>
			<th class="projectproperty">Located</th>
			<th class="edit">&nbsp;</th>
		</tr>
		
		{% for project in project_list %}

		<tr>
			<td>{{ project.taz.taz_id }}</td>
			<td><a href="{{ base_url }}/project/{{ project.id }}/">{{ project.name }}</a></td>
			<td>{{ project.get_status_display }}</td>
			<td class="projectproperty">{{ project.confirmed }}</td>
			<td class="projectproperty">{{ project.located }}</td>
			<td><a href="{{ base_url }}/project/{{ project.id }}/edit/">Edit Project</a></td>
		</tr>

		{% endfor %}
		
	</table>

	{% else %}
   
	<p>No projects found.</p>

	{% endif %}
	
{% endblock %}


{% block inlinejs %}

$(document).ready(function() {
	
	$(".projectproperty").each(function(index) {
		
		if ($(this).text() === "True") {
			$(this).html("<img src='{{ MEDIA_URL }}/img/icon-yes.gif'>");
		} else if ($(this).text() === "False") {
			$(this).html("<img src='{{ MEDIA_URL }}/img/icon-no.gif'>");
		}
		
	});
	
	CC.town = "{{ town }}";
	
	// zoom to town centroid
	CC.project.locationLonLat = new OpenLayers.LonLat({{ map_center.x }}, {{ map_center.y }});
	CC.featurecollection.projects = {{ project_list_geojson|safe }}
	
	init("town");
	
});

{% endblock %}