{% extends "base.html" %}
{% load i18n %}

{% block header %}
	
	{# called after form update #}
	{% if task %}

	<h3>Thank you, <a href="{{ base_url }}/project/{{ project.id }}/">{{ project.name }}</a> has been {{ task }}.
	
	{% else %}
	
	<h3>{{ project.name }}
	
	{% endif %}
	
	(<span class="small"><a href="{{ base_url }}/project/{{ project.id }}/edit/">Edit This Project</a> or <a href="{{ base_url }}/project/add/">Add Another Project</a></span>)</h3>
	
{% endblock %}

{% block map %}

<div class="span-24 last">
					
	<div id="map"></div>
				
</div>

{% endblock %}

{% block content %}

<table class="projectdetail">

{% for f in project.get_all_fields %}
    <tr><th>{{f.label|capfirst}}:</th><td><span class="projectproperty">{{ f.value|escape|urlize }}</span></td></tr>	
{% endfor %}

</table>
	
{% endblock %}

{% block inlinejs %}

$(document).ready(function() {
	
	$(".projectproperty").each(function(index) {
		
		if ($(this).text() === "True") $(this).text("Yes");
	});
	
	CC.town = "{{ project.taz.town_name }}";
	
	CC.project.title = "{{ project.name }}";
	CC.project.id = "{{ project.id }}"
	
	// to better adjust zoomlevel and map-extent
	CC.project.location = new OpenLayers.LonLat({{ project.location.x }}, {{ project.location.y }});
	
	init("project_detail");

});

{% endblock %}