{% extends "base.html" %}
{% load i18n %}

{% block title %}

{{ project.name }} | 

{% endblock %}


{% block header %}

	{% if correct %}
	
	<h3 class="errorlist">Please correct your entries below.</h3>
	
	{% else %}

	<h3>{{ project.name }}</h3>
	
	{% endif %}

{% endblock %}


{% block editform %}


<form action="." method="post">

{% csrf_token %}
<table>
<tr><th>TAZ:</th><td><span class="projectproperty">{{ project.taz.taz_id }}</span></td></tr>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>

{% endblock %}


{% block inlinejs %}

$(document).ready(function() {
	
	CC.town = "{{ project.taz.town_name }}";
	
	CC.project.title = "{{ project.name }}";
	CC.project.id = "{{ project.id }}"
	
	// to better adjust zoomlevel and map-extent
	CC.project.locationLonLat = new OpenLayers.LonLat({{ project.location.x }}, {{ project.location.y }});
	
	// write username when modified
	$("#id_confirmed").change(function() {
		$("#id_confirmed_by").val("{{ user.username }}");
	});
	$("#id_located").change(function() {
		$("#id_located_by").val("{{ user.username }}");
	});

	init("project_locate");
	
});

{% endblock %}