{% extends "base.html" %}
{% load i18n %}

{% block title %}

{{ project.name }} | 

{% endblock %}


{% block header %}

	<h3>{{ project.name }}</h3>

{% endblock %}


{% block editform %}


<form action="/project/{{ project.id }}/edit/" method="post">

{% csrf_token %}

{{ form.as_p }}

<input type="submit" value="Submit" />
</form>

{% endblock %}


{% block inlinejs %}

$(document).ready(function() {
	
	CC.town = "{{ project.taz.town_name }}";
	
	CC.project.title = "{{ project.name }}";
	CC.project.id = "{{ project.id }}"
	
	// to better adjust zoomlevel and map-extent
	CC.project.location = new OpenLayers.LonLat({{ project.location.x }}, {{ project.location.y }});
	
	$("#id_confirmed").change(function() {
		$("#id_confirmed_by").val("{{ user.username }}");
	});
	$("#id_located").change(function() {
		$("#id_located_by").val("{{ user.username }}");
	});

	init("project_edit");
	
});

{% endblock %}