{% extends "base.html" %}
{% load i18n %}

{% block header %}

	{% if user.is_authenticated %}

	<h3>Projects in {{ town }} (<span class="small"><a href='{{ base_url }}/project/add/'>Add New Project</a></span>)</h3>
	

	{% endif %}

{% endblock %}

{% block map %}

<div class="span-24 last">
					
	<div id="map"></div>
				
</div>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	
	{% if project_list %}

	<table id="summarytable">
		<tr>
			<th>TAZ</th>
			<th>Name</th>
			<th>Status</th>
			<th class="projectproperty">Confirmed</th>
			<th class="projectproperty">Located</th>
			<th>&nbsp;</th>
		</tr>
		
		{% for project in project_list %}

		<tr>
			<td>{{ project.taz.taz_id }}</td>
			<td><a href="{{ base_url }}/project/{{ project.id }}/">{{ project.name }}</a></td>
			<td>{{ project.get_status_display }}</td>
			<td class="projectproperty">{{ project.confirmed }}</td>
			<td class="projectproperty">{{ project.located }}</td>
			<td><a href="{{ base_url }}/project/{{ project.id }}/edit/">Edit Project</a></td>
		</tr>

		{% endfor %}
		
	</table>

	{% else %}
   
	<p>No projects found.</p>

	{% endif %}
	
{% else %}

	<p>
		The Metropolitan Area Planning Council (MAPC) is seeking your assistance to update the 25-year population and employment projections for the 
		101 municipalities of Metro Boston. The Boston Metropolitan Planning Organization (MPO) will use these projections in the new 2035 Regional 
		Transportation Plan, <i>Paths to a Sustainable Region</i>, which establishes priorities for future transportation spending. MAPC's population and employment 
		projections are also used for many other state, regional and local planning efforts, including water demand forecasting. 
		We are asking you for information about current or anticipated developments that should be included in the projections. 
		We will need <b>your response no later than Monday August 24, 2010</b>.
	</p>

	<p>
		We are seeking your input to ensure that the next round of population and employment projections reflects the most up-to-date information 
		available about developments already completed or anticipated.  In particular, we are interested in developments since the beginning 2007: 
	</p>
	<ul>
		<li>Large residential or mixed-use developments (single family or multifamily) already completed, under construction or in advanced planning 
		stages;</li>
		<li>Large job gains though new commercial, industrial or mixed-use developments already completed, under construction, or in advanced planning; and</li>
		<li>Job losses or major changes in the type of jobs at a particular location.</li>
	</ul>
	<p>
		Please be as specific as possible, by including the name of the project, number of units, type of housing, stage of planning development, and other 
		details about the project.  Please do not include projects that are purely speculative, such as the expectation that an existing farm will be 
		converted to residential subdivisions at some point in the next 20 years.
	</p>

	<p>If you responded to our request in 2007, we have provided your previous comments and you can simply update that information.</p>
	
	<p>We anticipate projections to be completed in Fall 2010.</p>

	<p>If you have questions, please contact Christian Spanring, GIS Analyst at (617) 451- 2770 ext. 2028 or cspanring@mapc.org.</p>
	
	<h3>Login to view, edit or add projects in your municipality:</h3>
	
	<p>
	<form method="post" action="{{ base_url }}/accounts/login/">
	  
	  	{% csrf_token %}
	  	
		<table>
			<tr><th><label for="id_username">Username:</label></th><td><input id="id_username" type="text" name="username" maxlength="30" /></td></tr>
			<tr><th><label for="id_password">Password:</label></th><td><input type="password" name="password" id="id_password" /></td></tr>
		</table>
		
		<input type="submit" value="log in" />
		<input type="hidden" name="next" value="{{ request.get_full_path }}" />
	</form>
	
	<p>Forgot password? <a href="{{ base_url }}/accounts/password/reset/">Reset it</a>!</p>
	<p>Not a member? <a href="{{ base_url }}/accounts/register/">Register</a>!</p>

</p>



{% endif %}
	
{% endblock %}

{% block inlinejs %}

$(document).ready(function() {

{% if user.is_authenticated %}
	
	$(".projectproperty").each(function(index) {
		
		if ($(this).text() === "True") {
			$(this).html("<img src='{{ MEDIA_URL }}/img/icon-yes.gif'>");
		} else if ($(this).text() === "False") {
			$(this).html("<img src='{{ MEDIA_URL }}/img/icon-no.gif'>");
		}
		
	});
	
	CC.town = "{{ town }}";
	
	// zoom to town centroid
	CC.project.locationLonLat = new OpenLayers.LonLat({{ map_center.x }}, {{ map_center.y }});
	
	CC.featurecollection.projects = {{ project_list_geojson|safe }}

	init("index");
	
{% else %}

	init();

{% endif %}
	
});

{% endblock %}