{% extends "base.html" %}
{% load i18n %}

{% block header %}

	{% if user.is_authenticated %}

	<h3>Projects in {{ town }} <span class="small"><a href='/project/add/'>Add New Project</a></span></h3>
	

	{% endif %}

{% endblock %}

{% block map %}

<div class="span-24 last">
					
	<div id="map"></div>
				
</div>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	
	{% if project_list %}

	<table>
		<tr>
			<th>Community</th>
			<th>Name</th>
			<th>Status</th>
			<th>&nbsp;</th>
		</tr>
		
		{% for project in project_list %}

		<tr>
			<td><a href="/{{ project.taz.town_name }}">{{ project.taz.town_name }}</a></td>
			<td><a href="/project/{{ project.id }}/">{{ project.name }}</a></td>
			<td>{{ project.get_status_display }}</td>
			<td><a href="/project/{{ project.id }}/edit/">edit</a></td>
		</tr>

		{% endfor %}
		
	</table>

	{% else %}
   
	<p>No projects found.</p>

	{% endif %}
	
{% else %}

	<p>
		The Metropolitan Area Planning Council (MAPC) is seeking your assistance to update the 25-year population and employment projections for the 
		101 municipalities of Metro Boston. The Boston Metropolitan Planning Organization (MPO) will use these projections in the new 2035 Regional 
		Transportation Plan, <i>Paths to a Sustainable Region</i>, which establishes priorities for future transportation spending. MAPC's population and employment 
		projections are also used for many other state, regional and local planning efforts, including water demand forecasting. 
		We are asking you for information about current or anticipated developments that should be included in the projections. 
		We will need <b>your response no later than Monday August 23<sup>rd</sup>, 2010</b>.
	</p>

	<p>
		We are seeking your input to ensure that the next round of population and employment projections reflects the most up-to-date information 
		available about developments already completed or anticipated.  In particular, we are interested in developments since the beginning 2007: 
		<ul>
		<li>Large residential or mixed-use developments (single family or multifamily) already completed, under construction or in advanced planning 
		stages;</li>
		<li>Large job gains though new commercial, industrial or mixed-use developments already completed, under construction, or in advanced planning; and</li>
		<li>Job losses or major changes in the type of jobs at a particular location.</li>
		</ul>
		Please be as specific as possible, by including the name of the project, number of units, type of housing, stage of planning development, and other 
		details about the project.  Please do not include projects that are purely speculative, such as the expectation that an existing farm will be 
		converted to residential subdivisions at some point in the next 20 years.
	</p>

	<p>If you responded to our request in 2007, we have provided your previous comments and you can simply update that information.</p>

	<p>If you have questions, please contact Christian Spanring, GIS Analyst at (617) 451- 2770 ext. 2028 or cspanring@mapc.org.</p>
	
	<p><b>Login (email, password) or register (Name, email, Municipality, position) to add and edit projects in your community.</b></p>

{% endif %}
	
{% endblock %}

{% block inlinejs %}

$(document).ready(function() {

{% if user.is_authenticated %}
	
	CC.town = "{{ town }}";
	
	CC.featurecollection.projects = {
	"type": "FeatureCollection", 
  		"features": [
    		{"geometry": {
        		"type": "GeometryCollection", 
        		"geometries": [
					{% for project in project_list %}
					{{ project.location.geojson|safe }},
					{% endfor %}
        		]}
			}
  		]
	};
		
	init("index");

{% else %}

	init();

{% endif %}
	
});

{% endblock %}