html {
	overflow-y: scroll; 
} 

body {
	margin: 10px 0;
}

#head img {
	float: right;
	margin-botton: 20px;
}

h1 a {
	color: rgb(0,72,144);
	text-decoration: none;
}

#head h3 {
	margin-bottom: 0px;
}

.addedit {
	float: right;
}

#main {
	background-color: #ffffff;
	padding-bottom: 80px;
}

.loginfo {
	float: right;
}

#map {
	height: 300px;
}

.mapmeta {
	text-align: right;
	margin-bottom: 0px;
}

#content {
	padding-top: 9px;
}

#content p {
	padding: 0 6px;
}

#footer	{
    background: #ffffff;

    /* over-ride sticky-footer.css - http://cfc.kizzx2.com/index.php/blueprint-css-with-sticky-footer-revisited/ */
    padding-top: 20px;
    height: 60px;
    margin-top: -80px;
	text-align: right;
}

#footer img {
	margin-right: 20px;
}

/* @group tables */

table.projectdetail tbody tr th {
	width: 140px;	
}

td, th {
	vertical-align: middle;
}

th.taz {
	width: 30px;
}

th.edit, th.projectproperty {
	width: 70px;
}

th.status {
	width: 200px;
}

td.projectproperty, th.projectproperty {
	text-align: center;
}

#summarytable tbody tr th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#summarytable tbody tr td {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: silver;
}


/* @end */

/* @group form */

#content form table tbody tr th {
	width: 140px;
	vertical-align: middle;
}

#content form {
	margin-bottom: 18px;
	padding: 0 6px;
}

h3.errorlist {
	color: red;
}

ul.errorlist {
	padding-left: 0;
	margin-bottom: 0;
}

ul.errorlist li {
	list-style: none;
	color: red;
}

/* @end */
