.env

data/*
*.sublime-*

development/migrations/
developmentdatabase/media/*
developmentdatabase/sent_mail/

# Python

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

.DS_Store
notes.md
