{% extends "base.html" %}
{% load i18n %}

{% block title %}Login to {% endblock %}

{% block header %}

<h3>Login to view, edit or add projects in your municipality:</h3>

{% endblock %}

{% block map %}{% endblock %}

{% block login %}
{% endblock %}

{% block content %}

<p>

	<form method="post" action=".">
	  
	  	{% csrf_token %}
	  	
		<table>
			{{ form.as_table }}
		</table>
		
	  	<input type="submit" value="{% trans 'log in' %}" />
	  	<input type="hidden" name="next" value="{{ next }}" />
	  
	</form>
	
	<p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
	<p>{% trans "Not a member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>

</p>

{% endblock %}
