{% extends "mail_base.html" %}
{% load i18n %}

{% block title %}
  {% blocktrans with project_name=project_name %}
    <h3>
      A Trusted User updated
    </h3>
    <h1>
      {{ project_name }}.
    </h1>
  {% endblocktrans %}
{% endblock %}

{% block body %}

  <p>
    {% blocktrans with project_name=project_name municipality_name=municipality_name domain=domain %}
      A trusted contributor has updated <a href="{{ domain }}/projects/detail/{{ project_id }}">{{ project_name }}</a> in {{ municipality_name }}.
    {% endblocktrans %}
  </p>

  <p>
    {% trans "No action is required, we just wanted to let you know." %}
  </p>

{% endblock body %}