{% extends "mail_base.html" %}
{% load i18n %}

<!--A Registered User edited a project in your municipality, and awaits moderation.-->

{% block body %}

  {{ first_name }}:

  A registered user has submitted an edit for <a href="{{ protocol }}://{{ site.domain }}/projects/detail/{{ project_id }}">{{ project_name }}</a> in your municipality, {{ municipality_name }}.

  Action is required. Please approve or decline the proposed changes:

  {% include "../_moderated_project.html" with project=project %}

  <!-- Approve the Proposed Changes --> <!-- Decline -->

  {% trans "Thank you" %},
  {% trans "The Development Database Team" %}

{% block body %}