<hr/>
<br/>

<div class="row">
  <div class="span6">
    <a href="/projects/detail/{{ project.project.dd_id }}" target="_blank">
      <h3>{{ project.project.ddname }}</h3>
    </a>
  </div>
</div>

{% if project.diff %}
  <div class="row">
    {% for field_name, value in project.diff.items %}
      {% include "_moderated_project_field.html" with field_name=field_name current=value.current proposed=value.proposed %}
    {% endfor %}
  </div>
{% endif %}
  <div class="row">
    <div class="span4 offset8">
      {% include '_buttons.html' with pk=project.dd_id %}
    </div>
  </div>


<br/>
<br/>