{% extends "base.html" %}

{% block title %}{{ municipality.name }} Pending Edits{% endblock %}

{% block pageheader %}
<h1 class="front-page">
  {% if municipality.name %}
    <span class="update-title">
      Pending Edits for 
    </span>
    {{ municipality.name }}
  {% else %}
    {{ municipality_name }} is not a municipality in our database. Please try another municipality.
  {% endif %}
</h1>
{% endblock pageheader %}

{% block body %}

{% if pending_projects%}
  {% for project in pending_projects %}
    {% include "_moderated_project.html" with project=project %}
  {% endfor %}
{% else %}
  <p>
    There are presently no pending edits for {{ municipality.name }}. But thank you for checking in!
  </p>
  <p>
    We will make sure to email you when users propose changes.
  </p>
{% endif %}

{% endblock body %}