{% load i18n %}

<li class="dropdown">
    {% if user.is_authenticated %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href='{% url userena_profile_detail user.username %}'>{% trans "View profile" %}</a></li>
        <li><a href='{% url userena_profile_edit user.username %}'>{% trans "Edit details" %}</a></li>
        <li><a href='{% url userena_password_change user.username %}'>{% trans "Change password" %}</a></li>
        <li><a href='{% url userena_email_change user.username %}'>{% trans "Change email" %}</a></li>
        {% if is_municipal %}
            <li class="divider"></li>
            <li><a href='/moderate/{{ user.profile.municipality.name.lower }}'>Moderate {{ user.profile.municipality.name }}</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="{% url userena_signout %}">Log Out</a></li>
    </ul>
    {% else %}
    <a href="{% url userena_signin %}">Log in or Sign up</b></a>
    {% endif %}
</li>