{% extends "_map_inc.html" %}

{% load humanize %}
{% load development_tags %}

{% block title %}Explore Projects{% endblock %}

{% block pageheader %}
<h1 class="front-page">{{ project.ddname }} <span class="update-title">in {{ project.municipality }}</span></h1>
{% if project.description %}<p class="lead">{{ project.description }}</p>{% endif %}
{% endblock pageheader %}


{% block body %}
    <section>
        <div class="row">
            <div class="span6">
                
                <h3>Overview</h3>

                {% include "development/_property.html" with property=project.projecttype label="Project Type" %}
                {% include "development/_property.html" with property=project.projecttype_detail label="Project Type Detail" %}
                {% include "development/_property.html" with property=project.status label="Status" %}
                {% include "development/_property.html" with property=project.complyr label="Year of Completion (estimated or actual)" %}
                {% include "development/_property.html" with property=project.prjacrs|intcomma label="Project Site Area (acres)" %}
                {% include "development/_property.html" with property=project.url|url|default:"-"|safe label="Project Website" %}
                {% include "development/_property.html" with property=project.url_add|url|default:"-"|safe label="Additional Website" %}
                {% include "development/_property.html" with property=project.last_modified|naturalday label="Last Updated" %}
                {% include "development/_property.html" with property=project.stalled|yesno:"Yes,No" label="Stalled" %}
                {% include "development/_property.html" with property=project.phased|yesno:"Yes,No" label="Phased" %}
            </div>
            <div class="span6">
                <div class="well" id="map_canvas"></div>
            </div>
        </div>
        <div class="row">
                <div class="span6">

                        <h3>Housing</h3>

                        {% include "development/_property.html" with property=project.tothu|floatformat:0|intcomma label="Total Housing Units" %}
                        {% include "development/_property.html" with property=project.singfamhu|floatformat:0 label="Detached Single Family" %}
                        {% include "development/_property.html" with property=project.twnhsmmult|floatformat:0 label="Townhouse and Small Multifamily" %}
                        {% include "development/_property.html" with property=project.lgmultifam|floatformat:0 label="Large Multifamily" %}
                        {% include "development/_property.html" with property=project.ovr55|yesno:"Yes,No" label="Age Restricted (any part)" %}
                        {% include "development/_property.html" with property=project.pctaffall|percentage label="Affordable Units" %}
                        {% include "development/_property.html" with property=project.affordable_comment label="Affordability Comments" %}
                        {% include "development/_property.html" with property=project.gqpop|floatformat:0|intcomma label="Group Quarters (beds)" %}

                </div>
                <div class="span6">

                        <h3>Nonresidential Development</h3>

                        {% include "development/_property.html" with property=project.commsf|floatformat:0|intcomma label="Total Nonresidential Development (square feet)" %}
                        {% include "development/_property.html" with property=project.retpct|percentage label="Retail or Restaurant" %}
                        {% include "development/_property.html" with property=project.ofcmdpct|percentage label="Office or Medical" %}
                        {% include "development/_property.html" with property=project.indmfpct|percentage label="Manufacturing or Industrial" %}
                        {% include "development/_property.html" with property=project.whspct|percentage label="Warehouse or Trucking" %}
                        {% include "development/_property.html" with property=project.rndpct|percentage label="Lab or R&D" %}
                        {% include "development/_property.html" with property=project.edinstpct|percentage label="Educational or Institution" %}
                        {% include "development/_property.html" with property=project.othpct|percentage label="Other" %}
                        {% include "development/_property.html" with property=project.hotelrms|floatformat:0 label="Hotel rooms" %}
                        {% include "development/_property.html" with property=project.rptdemp|floatformat:0|intcomma label="Reported Employment" %}
                        {% include "development/_property.html" with property=project.totemp|floatformat:0|intcomma label="MAPC Estimated Employment" %}

                </div>
        </div>
        <div class="row">
                <div class="span6">
                        <h3>Project Attributes</h3>

                        {% include "development/_property.html" with property=project.parking_spaces|floatformat:0 label="Parking Spaces" %}
                        {% include "development/_property.html" with property=project.rdv|yesno:"Yes,No" label="Redevelopment" %}
                        {% include "development/_property.html" with property=project.mxduse|yesno:"Yes,No" label="Mixed use project" %}
                        {% include "development/_property.html" with property=project.as_of_right|yesno:"Yes,No" label="As-of-Right" %}
                        {% include "development/_property.html" with property=project.ch40 label="Zoning Tool" %}
                        {% include "development/_property.html" with property=project.clustosrd|yesno:"Yes,No" label="Cluster Subdivision" %}
                        {% include "development/_property.html" with property=project.total_cost|intcomma|currency label="Total project cost" %}

                </div>
                <div class="span6">
                        <h3>Development Team</h3>

                        {% include "development/_property.html" with property=project.dev_name label="Lead Developer" %}
                        {# include "development/_property.html" with property=project.[NEW TXT] label="Lead Architect" #}
                        {# include "development/_property.html" with property=project.[NEW TXT] label="Other Development Team" #}
                        {# include "development/_property.html" with property=project.[NEW TXT] label="Other Development Team" #}
                        {# include "development/_property.html" with property=project.[NEW TXT] label="Leasing/Sales Agent" #}
                </div>
        </div>
        <div class="row">
                <div class="span12">
                        <div class="form-actions">
                            {% if user.is_authenticated %}
                            <a href="{% url update project.dd_id %}" class="btn btn-primary">Edit Project</a>
                            {% else %}
                            <a href="javascript:void(0)" class="btn btn-primary disabled" title="Login to update project">Edit Project</a>
                            {% endif %}
                        </div>
                </div>
        </div>
    </section>
{% endblock %}

{% block style %}
{{ block.super }}
<style type="text/css">
        #map_canvas {
            height: 300px;
        }
</style>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(function() {

    dd.map_project({{ project.location.geojson|safe }}, {
        "popupContent": "<a href=\"{{ project.get_absolute_url }}\">{{ project.ddname }}</a>"
    });
    dd.map.fitBounds(dd.projects.getBounds());

    dd.map.addLayer(dd.bing);

    // dd.layersControl.addBaseLayer(dd.bing);
//     addBaseLayer( <ILayer> layer, <String> name )   this    Adds a base layer (radio button entry) with the given name to the control.
// addOverlay( <ILayer> layer, <String> name ) this    Adds an overlay (checkbox entry) with the given name to the control.
// removeLayer( <ILayer> layer )

});
</script>
{% endblock %}