{% extends "_map_inc.html" %}

{% block title %}Explore Projects{% endblock %}

{% block pageheader %}
<h1 class="front-page">Add a new development project</h1>
{% endblock pageheader %}


{% block body %}
    <section>

        <form class="projectdata form-horizontal">

        <div class="row">
                <div class="span6">

                        {% include "development/_property_form.html" with property=project.name label="Project Name" required="True" %}
                        {% include "development/_property_form.html" with property=project.p_type label="Project Type" %}
                        {% include "development/_property_form.html" with property=project.p_type_detail label="Project Description" %}
                        {% include "development/_property_form.html" with property=project.status label="Status" %}
                        {% include "development/_property_form.html" with property=project.completion label="Year of Completion" %}
                        {% include "development/_property_form.html" with property=project.stalled label="Stalled" %}
                        {% include "development/_property_form.html" with property=project.area label="Project Site Area" %}
                        {% include "development/_property_form.html" with property=project.website label="Project Website" %}
                        {% include "development/_property_form.html" with property=project.website_add label="Additional Website" %}
                        {% include "development/_property_form.html" with property=project.phase label="Overall Project Name" %}

                </div>
                <div class="span6">
                        <div class="well" id="map_canvas"></div>
                        <div class="map-caption">
                                <p>Drag and drop the project marker to the project location on the map.</p>
                                <button class="btn btn-mini centermarker">Center project marker on map</button>
                        </div>
                        {{ project.location }}
                </div>
        </div>

        <div class="row">
                <div class="span12">

                        <h3>Housing</h3>

                        {% include "development/_property_form.html" with property=project.total_housing_units label="Total Housing Units" %}

                        <div class="housing collapse">

                        {% include "development/_property_form.html" with property=project.detached_single_fam label="Detached Single Family" %}
                        {% include "development/_property_form.html" with property=project.townhouse_small_multi_fam label="Townhouse and Small Multifamily" %}
                        {% include "development/_property_form.html" with property=project.med_large_multi_fam label="Medium and Large Multifamily" %}
                        {% include "development/_property_form.html" with property=project.age_restricted_pct label="Age Restricted" %}
                        {% include "development/_property_form.html" with property=project.affordable_pct label="Affordable Units (percent)" %}
                        {% include "development/_property_form.html" with property=project.affordable_comment label="Affordability Comments" %}
                        {% include "development/_property_form.html" with property=project.group_quarters label="Group Quarters (beds)" %}

                        </div>

                        <div class="more-info"><a href="javascript:void(0)" data-toggle="collapse" data-target="div.housing">Show more Housing information...</a></div>


                        <h3>Nonresidential Development</h3>

                        {% include "development/_property_form.html" with property=project.nonres_dev label="Total Nonresidential Development" %}

                        <div class="non-res collapse">

                        {% include "development/_property_form.html" with property=project.retail_restaurant_pct label="Retail or Restaurant (percent)" %}
                        {% include "development/_property_form.html" with property=project.office_medical_pct label="Office or Medical (percent)" %}
                        {% include "development/_property_form.html" with property=project.manufacturing_industrial_pct label="Manufacturing or Industrial (percent)" %}
                        {% include "development/_property_form.html" with property=project.warehouse_trucking_pct label="Warehouse or Trucking (percent)" %}
                        {% include "development/_property_form.html" with property=project.lab_RandD_pct label="Lab or R&D (percent)" %}
                        {% include "development/_property_form.html" with property=project.edu_institution_pct label="Educational or Institution (percent)" %}
                        {% include "development/_property_form.html" with property=project.other_pct label="Other (percent)" %}
                        {% include "development/_property_form.html" with property=project.hotel_rooms label="Hotel rooms" %}
                        {# include "development/_property_form.html" with property=project.[NEW NEEDED?] label="Reported Employment" #}
                        {% include "development/_property_form.html" with property=project.jobs label="MAPC Estimated Employment" %}

                        </div>

                        <div class="more-info"><a href="javascript:void(0)" data-toggle="collapse" data-target="div.non-res">Show more Nonresidential Development information...</a></div>


                        <div class="project-attr collapse">

                        <h3>Project Attributes</h3>

                        {% include "development/_property_form.html" with property=project.parking_spaces label="Parking Spaces" %}
                        {% include "development/_property_form.html" with property=project.redevelopment label="Redevelopment" %}
                        {% include "development/_property_form.html" with property=project.mixed_use label="Mixed use project" %}
                        {% include "development/_property_form.html" with property=project.as_of_right label="As-of-Right" %}
                        {% include "development/_property_form.html" with property=project.zoning_tool label="Zoning Tool" %}
                        {% include "development/_property_form.html" with property=project.cluster_subdivision label="Cluster Subdivision" %}
                        {% include "development/_property_form.html" with property=project.total_cost label="Total project cost" %}

                        </div>

                        <div class="more-info"><a href="javascript:void(0)" data-toggle="collapse" data-target="div.project-attr">Show Project Attributes...</a></div>


                        <div class="dev-team collapse">

                        <h3>Development Team</h3>

                        {# include "development/_property_form.html" with property=project.dev_name label="Lead Developer" #}
                        {# include "development/_property_form.html" with property=project.[NEW TXT] label="Lead Architect" #}
                        {# include "development/_property_form.html" with property=project.[NEW TXT] label="Other Development Team" #}
                        {# include "development/_property_form.html" with property=project.[NEW TXT] label="Other Development Team" #}
                        {# include "development/_property_form.html" with property=project.[NEW TXT] label="Leasing/Sales Agent" #}

                        </div>

                        <div class="more-info"><a href="javascript:void(0)" data-toggle="collapse" data-target="div.dev-team">Show Development Team...</a></div>
                </div>
        </div>

        <div class="row">
                <div class="span12">
                        <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button class="btn reset">Reset</button>
                        </div>
                </div>

        </div>


        </form>

    </section>
{% endblock %}

{% block style %}
{{ block.super }}
<style type="text/css">
        #map_canvas {
            height: 300px;
        }
</style>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script src="{{ STATIC_URL }}lib/jquery/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {

        // adjust textarea heights (tweaks built-in Django Template)
        $("textarea").attr("rows", "2");

        // the form data
        var projectdata = {
                "location": { 
                        "coordinates": [], 
                        "type": "Point" 
                }
        };

        var newproject_pt = new L.Marker(dd.map.getCenter(), { 
          icon: dd.projecticon,
          draggable: true
        });

        dd.projects.addLayer(newproject_pt);

        // set GeoJSON location coord in form data
        newproject_pt.on("dragend", function(e) {
                projectdata["location"]["coordinates"] = [e.target.getLatLng().lng, e.target.getLatLng().lat];
        });

        // helps to find the project marker again
        $("button.centermarker").on("click", function(event) {
                event.preventDefault();
                newproject_pt.setLatLng(dd.map.getCenter());
                newproject_pt.fire("dragend");
        });

        // collapse form and switch "Show"/"Hide" link text
        $(".collapse")
        .on("shown", function() {
                var $collapselink = $(this).next().find("a");
                var content = $collapselink.html();
                $collapselink.html(content.replace("Show", "Hide"));
        })
        .on("hidden", function() {
                var $collapselink = $(this).next().find("a");
                var content = $collapselink.html();
                $collapselink.html(content.replace("Hide", "Show"));
        });

        // upate projectdata
        $("form.projectdata").find("input, select, textarea").on("change", function() {
                var key = $(this).attr("name") || "";
                var value = $(this).val() || "";
                var is_layerselector = $(this).parentsUntil("form").is(".leaflet-control-layers-base, .leaflet-control-layers-overlays");

                if (value !== "" && !is_layerselector) {
                        projectdata[key] = value;
                } else {
                        delete projectdata[key];
                }
        });

        // validate form on keyup and submit
        var validator = $("form.projectdata").validate({
                rules: {
                        name: "required",
                        completion: {
                                required: true,
                                number: true,
                                rangelength: [4, 4],
                                min: 1900,
                                max: 2100
                        },
                        area: {
                                required: true,
                                number: true
                        },
                        total_housing_units: {
                                required: true,
                                number: true
                        },
                        nonres_dev: {
                                required: true,
                                number: true
                        }
                },
                messages: {
                        name: "Please enter a project name.",
                        completion: "Please enter a year in form of \"2012\".",
                        area: "Please enter the project area as digits.",
                        total_housing_units: "Please enter the total housing units as digits.",
                        nonres_dev: "Please enter the total nonresidential development as digits only."
                },
                errorElement: "span",
                // the errorPlacement has to take the table layout into account
                errorPlacement: function(error, element) {
                        element.after(error);
                },
                // specifying a submitHandler prevents the default submit, good for the demo
                submitHandler: function() {
                        // check for project location
                        if (projectdata["location"]["coordinates"].length === 0) {
                                $(".map-caption p").first().addClass("error");
                                return false;
                        }
                        // post
                        console.log(projectdata);
                        $.ajax({
                            type: "POST",
                            url: "/api/v1/project/",
                            data: JSON.stringify(projectdata),
                            contentType:'application/json',
                            dataType: 'json',
                            processData: false
                          }).done(function(msg) {
                            console.log("posted!");
                          });
                }
        });
        
        // reset form
        $("form.projectdata button.reset").on("click", function(event) {
                event.preventDefault();
                validator.resetForm();
                $(".map-caption p").first().removeClass("error");
                $("form.projectdata").find("input, select, textarea").each(function(key, value) {
                        $(this).val("");
                });
                projectdata = {
                        "location": { 
                                "coordinates": [], 
                                "type": "Point" 
                        }
                };
        });



});
</script>
{% endblock %}