{% extends "_map_inc.html" %}

{% block title %}Explore Projects{% endblock %}

{% block pageheader %}
<h1 class="front-page">{% if project.ddname.value %}<span class="update-title">Editing Project</span> {{ project.ddname.value }}{% else %}Add a new development project{% endif %}</h1>
{% endblock pageheader %}


{% block body %}
    <section>

        <form class="projectdata form-horizontal" method="POST">
        {% csrf_token %}
        <div class="row">
                <div class="span5">

                        {% include "development/_property_form.html" with property=project.ddname label="Project Name" %}
                        {% include "development/_property_form.html" with property=project.description label="Project Description" %}
                        {% include "development/_property_form.html" with property=project.projecttype label="Project Type" %}
                        {% include "development/_property_form.html" with property=project.projecttype_detail label="Project Type Details" %}
                        {% include "development/_property_form.html" with property=project.status label="Status" %}
                        {% include "development/_property_form.html" with property=project.complyr label="Year of Completion" %}
                        {% include "development/_property_form.html" with property=project.prjacrs label="Project Site Area" %}
                        {% include "development/_property_form.html" with property=project.stalled label="Stalled" %}
                        {% include "development/_property_form.html" with property=project.phased label="Phased" %}
                        {% include "development/_property_form.html" with property=project.url label="Project Website" %}
                        {% include "development/_property_form.html" with property=project.url_add label="Additional Website" %}
                </div>
                <div class="span7">
                        <div class="well" id="map_canvas"></div>
                        <div id="map-caption">
                            <button id="center-marker" class="btn btn-mini pull-right">center marker</button>
                            <p>Drag and drop the marker to locate the project.</p>
                                
                        </div>
                        {{ project.location }}
                </div>
        </div>

        <div class="row">
                <div class="span5">

                        <h3>Housing</h3>

                        {% include "development/_property_form.html" with property=project.tothu label="Total Housing Units" %}

                        <div class="housing collapse">

                        {% include "development/_property_form.html" with property=project.singfamhu label="Detached Single Family" %}
                        {% include "development/_property_form.html" with property=project.twnhsmmult label="Townhouse and Small Multifamily" %}
                        {% include "development/_property_form.html" with property=project.lgmultifam label="Large Multifamily" %}
                        {% include "development/_property_form.html" with property=project.ovr55 label="Age Restricted" %}
                        {% include "development/_property_form.html" with property=project.pctaffall label="Affordable Units" %}
                        {% include "development/_property_form.html" with property=project.affordable_comment label="Affordability Comments" %}
                        {% include "development/_property_form.html" with property=project.gqpop label="Group Quarters" %}

                        </div>

                        <div class="more-info"><a href="javascript:void(0)" data-toggle="collapse" data-target="div.housing">Show more Housing information...</a></div>


                        <h3>Nonresidential Development</h3>

                        {% include "development/_property_form.html" with property=project.commsf label="Total Nonresidential Development" %}

                        <div class="non-res collapse">

                        {% include "development/_property_form.html" with property=project.retpct label="Retail or Restaurant" %}
                        {% include "development/_property_form.html" with property=project.ofcmdpct label="Office or Medical" %}
                        {% include "development/_property_form.html" with property=project.indmfpct label="Manufacturing or Industrial" %}
                        {% include "development/_property_form.html" with property=project.whspct label="Warehouse or Trucking" %}
                        {% include "development/_property_form.html" with property=project.rndpct label="Lab or R&D" %}
                        {% include "development/_property_form.html" with property=project.edinstpct label="Educational or Institution" %}
                        {% include "development/_property_form.html" with property=project.othpct label="Other" %}
                        {% include "development/_property_form.html" with property=project.hotelrms label="Hotel rooms" %}
                        {% include "development/_property_form.html" with property=project.rptdemp label="Reported Employment" %}

                        </div>

                        <div class="more-info"><a href="javascript:void(0)" data-toggle="collapse" data-target="div.non-res">Show more Nonresidential Development information...</a></div>


                        <div class="project-attr collapse">

                        <h3>Project Attributes</h3>

                        {% include "development/_property_form.html" with property=project.parking_spaces label="Parking Spaces" %}
                        {% include "development/_property_form.html" with property=project.rdv label="Redevelopment" %}
                        {% include "development/_property_form.html" with property=project.mxduse label="Mixed use project" %}
                        {% include "development/_property_form.html" with property=project.as_of_right label="As-of-Right" %}
                        {% include "development/_property_form.html" with property=project.ch40 label="Zoning Tool" %}
                        {% include "development/_property_form.html" with property=project.clustosrd label="Cluster Subdivision" %}
                        {% include "development/_property_form.html" with property=project.total_cost label="Total project cost" %}

                        </div>

                        <div class="more-info"><a href="javascript:void(0)" data-toggle="collapse" data-target="div.project-attr">Show more Project Attributes...</a></div>


                        <div class="dev-team collapse">

                        <h3>Development Team</h3>

                        {% include "development/_property_form.html" with property=project.dev_name label="Lead Developer" %}
                        {# include "development/_property_form.html" with property=project.[NEW TXT] label="Lead Architect" #}
                        {# include "development/_property_form.html" with property=project.[NEW TXT] label="Other Development Team" #}
                        {# include "development/_property_form.html" with property=project.[NEW TXT] label="Other Development Team" #}
                        {# include "development/_property_form.html" with property=project.[NEW TXT] label="Leasing/Sales Agent" #}

                        </div>

                        <div class="more-info"><a href="javascript:void(0)" data-toggle="collapse" data-target="div.dev-team">Show more Development Team information...</a></div>
                </div>
        </div>

        <div class="row">
                <div class="span12">
                        <div class="form-info"><span class="required">*</span> indicates required fields</div>
                </div>
        </div>

        <div class="row">
                <div class="span12">
                        <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Save Project</button>
                        </div>
                </div>
        </div>

        </form>

    </section>
{% endblock %}

{% block style %}
{{ block.super }}
<style type="text/css">
        #map_canvas {
            height: 300px;
        }
</style>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script src="{{ STATIC_URL }}lib/jquery/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
$( document ).ready(function() {

    // initialize map
    dd.initUpdatePage();
        
});
</script>
{% endblock %}