{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %} | Community Comments</title>
		<meta name="description" content="Community Comments">
		<meta name="keywords" content="Boston, Metro, Planning, Projections">
		<meta name="author" content="MAPC">
		
		<!-- geotags -->
		<meta name="DC.title" content="Community Comments"> 
		<meta name="geo.placename" content="Boston">
		<meta name="geo.position" content="42.34;-71.08">
		<meta name="geo.region" content="US-MA">
		<meta name="ICBM" content="42.34;-71.08">
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="{{ MEDIA_URL }}media/css/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]>
		<link rel="stylesheet" href="{{ MEDIA_URL }}media/css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->	
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" media="screen">
		
    </head>
    <body>
		
		<div class="container">
			<div class="span-24 last" id="head">
				<h1><a href="/">Community Comments</a></h1>
				{% block header %}{% endblock %}
				
  			</div>
			
			<div class="span-24 last">
				<div id="map"></div>
				
			</div>
			
			<div class="span-24 last" id="table">
				
				{% block table %}{% endblock %}
				
				
			</div>
			
		</div>
		
		<!-- OpenLayers -->
		<script type="text/javascript" src="{{ MEDIA_URL }}js/OpenLayers/OpenLayers.js"></script>
		
		<!-- Add jQuery From the Google AJAX Libraries and local plugins --> 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>	
		
		<script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
		
    </body>
</html>
