{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}MAPC Projections Update</title>
		<meta name="description" content="Community Comments">
		<meta name="keywords" content="Boston, Metro, Planning, Projections">
		<meta name="author" content="MAPC">
		
		<!-- geotags -->
		<meta name="DC.title" content="Community Comments"> 
		<meta name="geo.placename" content="Boston">
		<meta name="geo.position" content="42.34;-71.08">
		<meta name="geo.region" content="US-MA">
		<meta name="ICBM" content="42.34;-71.08">
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->
		
		<!-- Stickyfooter http://www.cssstickyfooter.com -->
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sticky-footer.css" media="screen">	
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" media="screen">
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-5547782-7']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
		
    </head>
    <body>
	<div id="wrap">
		<div id="main" class="container">
			<div class="span-24 last" id="head">
				<a href="http://www.mapc.org" title="Metropolitan Area Planning Council"><img src="{{ MEDIA_URL }}img/mapc-logo.png" alt="Metropolitan Area Planning Council" width="200" height="100"></a>
				
				<h1><a href="/projections">Boston Regional Transportation Plan</a></h1>
				<h2>MAPC Projections Update - New Developments</h2>
				
				<span class="loginfo small">
					
					{% if user.is_authenticated %}
						logged in as {{ user.username }}, <a href="/projections/accounts/logout">logout</a>
					{% else %}
						<a href="/projections/accounts/login">login</a>	
					{% endif %}
					
				</span>
				
				{% block header %}{% endblock %}
				
				
				
  			</div>
			
			{% block map %}
			
			<div id="map" class="span-24 last"></div>
			
			{% endblock %}
			
			<div id="content" class="span-24 last">
			
			{% block content %}{% endblock %}
			
			{% block projectlist %}{% endblock %}	
			
			{% block editform %}{% endblock %}
			
			</div>
			
		</div>
	
	</div>
	
	<div id="footer" class="container small">
		{% if user.is_authenticated %}
		Questions? Please contact <a href="http://www.mapc.org/about-mapc/staff/christian-spanring">Christian Spanring</a> for support.
		{% endif %}
	</div>
	
	<!-- Google Maps API for "localhost" -->
	<script type="text/javascript" src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjpkAC9ePGem0lIq5XcMiuhR_wWLPFku8Ix9i2SXYRVK3e45q1BQUd_beF8dtzKET_EteAjPdGDwqpQ'></script> 
	<!-- Google Maps API for "maps.mapc.org" 
	<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAQ-Eo3H7avW_DufEMW2ji4hTrkEaAM7tVaT9rJIlPIk0i17mUohRqSpESwLnBT9rH9fOoVQ23AklR8A'></script> -->
	
	<!-- OpenLayers -->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/OpenLayers/OpenLayers.js"></script>
	
	<!-- Add jQuery From the Google AJAX Libraries and local plugins --> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>	
	
	<script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
	
	<script type="text/javascript">
		
		{% block inlinejs %}{% endblock %}
		
	</script>
		
    </body>
</html>
