{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<form action="" method="post" id="password_change_form" class="form-horizontal">
  <fieldset>
    <legend>{% trans "Change Password" %}</legend>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% include "userena/_bootstrap_field.html" with property=field %}
    {% endfor %}
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% trans "Change password"%}</button>
  </div>
</form>
{% endblock %}
