{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Signin" %}</legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'remember_me' %}
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          {{ field }}
          {{ field.label }}
        </label>
      </div>
    </div>
    {% else %}

    {% include "userena/_bootstrap_field.html" with property=field %}
    
    {% endif %}
    {% endfor %}
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% trans "Signin" %}</button>
  </div>

  <div class="signin-help"><a href='{% url userena_password_reset %}' title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a></div>
  <div class="signin-help"><a href='{% url userena_signup %}' title="{% trans "Don't have an account? Sign up here!" %}">{% trans "Don't have an account? Sign up here!" %}</a></div>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
{% endblock %}


